/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f52a2a;
    margin: 0;
    padding: 0;
}

.game-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #39e97c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    background-color: #f32727;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.choice {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
}

.choice img {
    width: 100px;
    height: 100px;
}

.choice:hover {
    transform: scale(1.1);
}

.results {
    margin-top: 20px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.result img {
    width: 50px;
    height: 50px;
}